@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    --plan-width: 50vw;
  }

  #app {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    padding: 1rem 2rem;
  }
}

.btn-icon {
  display: inline-block;
  padding: 2px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  cursor: pointer;
}
.btn-icon.active {
  background-color: var(--color-brand-primary);
}

svg.origami {
  stroke: currentColor;
  fill: none;
}

.origami .fold {
  stroke-width: 5;
}
.origami .cut-line {
  stroke-width: 5;
  stroke-dasharray: 10 5;
}

.origami .page {
  stroke-width: 10;
}

.origami .mark {
  stroke-width: 1;
  stroke-dasharray: 10 5 5 5;
}

.origami .point {
  fill: currentColor;
}

.origami .arrow {
  stroke-width: 3;
  stroke: var(--color-brand-primary);
}

.origami .label-value {
  font-size: 25px;
  text-anchor: middle;
  dominant-baseline: middle;
  stroke: var(--color-brand-primary);
}

.origami g:hover > :is(.arrow, .label-value) {
  stroke-width: 6;
  font-size: 32px;
}

.origami .cut {
  stroke: none;
  /* fill: rgba(200, 200, 200, 0.5); */
  fill: url(#cutArea);
}

svg.icon {
  stroke-width: 10;
  stroke-linejoin: round;
}
