@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    --plan-width: 50vw;
  }

  #app {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    padding: 0 2rem;
  }
}

svg.origami {
  stroke: currentColor;
  fill: none;
}

.origami .fold {
  stroke-width: 5;
}

.origami .page {
  stroke-width: 10;
}

.origami .mark {
  stroke-width: 1;
  stroke-dasharray: 10 2;
}

.origami .point {
  fill: currentColor;
}

.origami .arrow {
  stroke-width: 3;
}

.origami .label-value {
  font-size: 25px;
  text-anchor: middle;
  dominant-baseline: middle;
}

.origami g:hover > :is(.arrow, .label-value) {
  stroke-width: 6;
  font-size: 32px;
}

.origami .cut {
  stroke: none;
  /* fill: rgba(200, 200, 200, 0.5); */
  fill: url(#stripes);
}

.origami #stripes {
  fill: none;
  stroke: rgba(150, 150, 150, 1);
  stroke-width: 1;
}
